/EFCoreScaffoldDbcontext/.vs
/EFCoreScaffoldDbcontext/src/EFCoreScaffoldDbcontext/bin
/EFCoreScaffoldDbcontext/src/EFCoreScaffoldDbcontext/obj
/EFCoreScaffoldDbcontext/src/EFCoreScaffoldDbcontext/project.lock.json
